/*Color de fondo en el cuerpo de la pagina*/
body {
    background-color: #fefbd8;
  }
  
  /*Color de fondo en los titulos h1*/
  h1 {
    background-color: #80ced6;
  }
  
  /*Color de fonod en los divs*/
  div {
    background-color: #d5f4e6;
  }
  
  /*Estilos cuerpo de texto*/
  p {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #ccc;
  line-height: 18px;
  margin-bottom: 20px;
  }